p{
  font-size: 10px;
}
h6{
  font-size: 12px;
}
h5{
  font-size: 15px;
}
.media{
margin-top: 20px;
  margin-left: 100px;
  margin-right: auto;
}
.media-body{
  margin-top: 5px;
  margin-left: 20px;
}
