<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile">Profile</a>
        </li>
        <li class="nav-item">
          <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
        </li>
        <li class="nav-item">
          <a (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
<!--  &lt;!&ndash; Display this button incase the user is not logged in, hide it when user is logged in  &ndash;&gt;-->
<!--  <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>-->
<!--  &lt;!&ndash;  Display this button when user is logged in and hide it not logged in  &ndash;&gt;-->
<!--  <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>-->

</header>
